// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use "ds/typography.scss" as t;
@use "ds/_borders.scss" as b;

.badge {
  @include t.use-typography("body-small");

  flex: none;
  margin-inline-start: var(--sp-xs);
  padding: var(--sp-xxs) var(--sp-xs);
  border-radius: b.$br-8;
  color: var(--color-foreground-secondary);
  background: var(--color-background-quaternary);
  line-height: 1;
  white-space: nowrap;
}

.page-badge {
  color: var(--color-background-primary);
  background: var(--color-accent-primary);
}
