// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use "ds/typography.scss" as t;

.ds-editing-note {
  display: flex;
  flex-direction: column;
  gap: var(--sp-s);
  padding-block: var(--sp-m);
  color: var(--color-foreground-primary);
}

.ds-editing-title {
  @include t.use-typography("title-small");

  margin: 0;
  color: var(--color-foreground-primary);
}

.ds-editing-description {
  @include t.use-typography("body-medium");

  margin: 0;
  color: var(--color-foreground-secondary);
  overflow-wrap: anywhere;
}
