// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use "ds/_sizes.scss" as *;
@use "ds/mixins.scss" as *;

.reference-hex-input {
  grid-column: span 2;
  min-width: 0;
}

.reference-dropdown {
  --reference-dropdown-width: #{$sz-352};

  position: fixed;
  inline-size: min(var(--reference-dropdown-width), calc(100vw - (2 * var(--sp-m))));
  max-block-size: $sz-400;
  overflow-y: auto;

  @include custom-scrollbar;
}
